<mat-card>
    <mat-card-title>Car x Owner List</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let carOwner of carsOwners">
                <h3 mat-line>
                    <img mat-list-avatar src="{{carOwner.car.giphyUrl}}" alt="{{carOwner.car.name}}">

                    <a >   {{carOwner.car.name}} <strong>- </strong> </a>
                    <strong><a>Owner: </a></strong>
                    <a >{{carOwner.owner.name}}  </a>

                </h3>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>